* {
    background-color: rgb(97, 66, 66);
    font-size: 125%;
    box-sizing: content-box;
}
.content {
    width: 1000;
}
h2 {
    font-size: 150%;
    font-style: italic;
}
h1 {
    text-align: center;
    font-size: 300%;
    text-decoration: underline;
}